body{
    background: rgb(244, 210, 166);
    color: #FdFFFF;
    width:500px;
    margin-right:auto;
    margin-left:auto
}
button{
    padding:5px 20px;
    background-color:#337AB7;
    border-color:#2E6DA4;
    border-style:none;
    color:#FdFFFF
}
button:active{
    background-color:#034A87;
    border-color:#2E6DA4;
    border-style:none;
    color:#FdFFFF
}
input {
    height:20px;
}
